[Unit]
Description=FOLNUI sensor code
After=multi-user.target

[Service]
Environment="PATH=/home/pi/FOLNUI-BIG/venv/bin"
WorkingDirectory=/home/pi/FOLNUI-BIG/
ExecStart=/bin/bash -c '/home/pi/FOLNUI-BIG/venv/bin/python /home/pi/FOLNUI-BIG/ws-server.py > /home/pi/websocket.log 2>&1'
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
